<h1>Jamoma Grapher</h1>
<p>Draw transfer function graphs for objects in Jamoma DSP</p>
<br/><br/>


<p>TODO: add menu to select an object here (for now we hard-code the exponential func)</p>
<p>TODO: add things to display and control attributes of the selected object</p>

<h2>FunctionLib</h2>
<h3>Exponential</h3>

<% svg = MySVG.new(600, 150) %>

<% f = TTObject.new("exponential") %>
<% for i in 0..600  %>
	<% x = i/600.0 %>
	<% y = f.calculate(x) %>
	<% svg.bar(i, 600, y) %>
	<!-- <p> <%= x %> : <%= y %> </p> -->
<% end %>

<% svg.write("temp-exp.svg") %>
<%= image_tag("temp-exp.svg", {:width => "600", :height => "200"}) %>




<h3>Tanh</h3>

<% svg = MySVG.new(600, 150) %>

<% f = TTObject.new("tanh") %>
<% for i in 0..600  %>
	<% x = i/600.0 %>
	<% y = f.calculate(x) %>
	<% svg.bar(i, 600, y) %>
	<!-- <p> <%= x %> : <%= y %> </p> -->
<% end %>

<% svg.write("temp-tanh.svg") %>
<%= image_tag("temp-tanh.svg") %>




<h3>Cosine</h3>

<% svg = MySVG.new(600, 150) %>

<% f = TTObject.new("cosine") %>
<% for i in 0..600  %>
	<% x = i/600.0 %>
	<% y = f.calculate(x) %>
	<% svg.bar(i, 600, y) %>
	<!-- <p> <%= x %> : <%= y %> </p> -->
<% end %>

<% svg.write("temp-cos.svg") %>
<%= image_tag("temp-cos.svg") %>




<h2>Window Function Lib</h2>

<h3>Bartlett</h3>

<% svg = MySVG.new(600, 150) %>

<% f = TTObject.new("bartlett") %>
<% for i in 0..600  %>
	<% x = i/600.0 %>
	<% y = f.calculate(x) %>
	<% svg.bar(i, 600, y) %>
	<!-- <p> <%= x %> : <%= y %> </p> -->
<% end %>

<% svg.write("temp-bartlett.svg") %>
<%= image_tag("temp-bartlett.svg") %>



<h3>Blackman</h3>

<% svg = MySVG.new(600, 150) %>

<% f = TTObject.new("blackman") %>
<% for i in 0..600  %>
	<% x = i/600.0 %>
	<% y = f.calculate(x) %>
	<% svg.bar(i, 600, y) %>
<% end %>

<% svg.write("temp-blackman.svg") %>
<%= image_tag("temp-blackman.svg") %>



<h3>Hamming</h3>

<% svg = MySVG.new(600, 150) %>

<% f = TTObject.new("hamming") %>
<% for i in 0..600  %>
	<% x = i/600.0 %>
	<% y = f.calculate(x) %>
	<% svg.bar(i, 600, y) %>
	<!-- <p> <%= x %> : <%= y %> </p> -->
<% end %>

<% svg.write("temp-hamming.svg") %>
<%= image_tag("temp-hamming.svg") %>



<h3>Hanning</h3>

<% svg = MySVG.new(600, 150) %>

<% f = TTObject.new("hanning") %>
<% for i in 0..600  %>
	<% x = i/600.0 %>
	<% y = f.calculate(x) %>
	<% svg.bar(i, 600, y) %>
	<!-- <p> <%= x %> : <%= y %> </p> -->
<% end %>

<% svg.write("temp-hanning.svg") %>
<%= image_tag("temp-hanning.svg") %>


<h3>Kaiser -- Beta=2.0</h3>

<% svg = MySVG.new(600, 150) %>

<% f = TTObject.new("kaiser") %>
<% f.set "beta", 2.0 %>
<% for i in 0..600  %>
	<% x = i/600.0 %>
	<% y = f.calculate(x) %>
	<% svg.bar(i, 600, y) %>
<% end %>

<% svg.write("temp-kaiser2.svg") %>
<%= image_tag("temp-kaiser2.svg") %>



<h3>Kaiser -- Beta=6.0</h3>

<% svg = MySVG.new(600, 150) %>

<% f = TTObject.new("kaiser") %>
<% f.set "beta", 6.0 %>
<% for i in 0..600  %>
	<% x = i/600.0 %>
	<% y = f.calculate(x) %>
	<% svg.bar(i, 600, y) %>
<% end %>

<% svg.write("temp-kaiser6.svg") %>
<%= image_tag("temp-kaiser6.svg") %>



<h3>Rectangular</h3>

<% svg = MySVG.new(600, 150) %>

<% f = TTObject.new("rectangular") %>
<% for i in 0..600  %>
	<% x = i/600.0 %>
	<% y = f.calculate(x) %>
	<% svg.bar(i, 600, y) %>
	<!-- <p> <%= x %> : <%= y %> </p> -->
<% end %>

<% svg.write("temp-rect.svg") %>
<%= image_tag("temp-rect.svg") %>



<h3>Tukey (default value for alpha)</h3>

<% svg = MySVG.new(600, 150) %>

<% f = TTObject.new("tukey") %>
<% for i in 0..600  %>
	<% x = i/600.0 %>
	<% y = f.calculate(x) %>
	<% svg.bar(i, 600, y) %>
	<!-- <p> <%= x %> : <%= y %> </p> -->
<% end %>

<% svg.write("temp-tukey.svg") %>
<%= image_tag("temp-tukey.svg") %>


<h3>Tukey (alpha = 0.1)</h3>

<% svg = MySVG.new(600, 150) %>

<% f = TTObject.new("tukey") %>
<% f.set "alpha", 0.1 %>
<% for i in 0..600  %>
	<% x = i/600.0 %>
	<% y = f.calculate(x) %>
	<% svg.bar(i, 600, y) %>
	<!-- <p> <%= x %> : <%= y %> </p> -->
<% end %>

<% svg.write("temp-tukey2.svg") %>
<%= image_tag("temp-tukey2.svg") %>


<h3>Welch</h3>

<% svg = MySVG.new(600, 150) %>

<% f = TTObject.new("welch") %>
<% for i in 0..600  %>
	<% x = i/600.0 %>
	<% y = f.calculate(x) %>
	<% svg.bar(i, 600, y) %>
	<!-- <p> <%= x %> : <%= y %> </p> -->
<% end %>

<% svg.write("temp-welch.svg") %>
<%= image_tag("temp-welch.svg") %>






